@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('blue_gradiant.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

h1 { 
    color: #03a9f4;
    font-family: 'Oswald', sans-serif;
}